*{
    margin: 0;
    padding: 0;
}
.box{
    padding: 20px;
}
.madLibsEdit{
    border: 1px orange solid;
    height: 300px;
}
.madLibsPreview{
    margin-top: 20px;
    border: 1px rgb(0, 115, 255) solid;
    height: 300px;
}
header{
    display: flex;
    margin: auto;
    justify-content: center;
}